<h1>Profile for "<%= current_user.username %>"</h1>
<h2> My Created Courses </h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
      <% current_user.created_courses.each do |course| %>
    <tr>
        <td><%= course.id %></td>
        <td><%= link_to course.title, course_path(course) %></td>
    </tr>
      <% end %>
  </tbody>
</table>


<h2>My Favorite Courses</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.attended_courses.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td><%= link_to course.title, course_path(course) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Course", new_course_path %>  


