<h1>Course: <%= @course.title %></h1>

<div>
<p>Title: <%= @course.title %></p>
<p>Description:  <%= @course.description %></p>
<p>URL: <a href="<%= @course.url %>" target="_blank"><%= @course.url %></a></p>

<!-- NOTE: All users must be logged in to view this page -->
<!-- IF CREATOR: show Edit/Delete this course buttons -->
   <!-- if user is the course creator, then show the edit delete button -->
<% if @creator %>   
<%= link_to "Edit", edit_course_path %>
<%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: 'Are you sure?' } %>

<% else %>
<!-- IF ATTENDEE Favorite/Unfavorite this course buttons -->
   <!-- if user is not the course creator, show favorite unfavorite -->
    <% if @user.attended_courses.include?(@course) %>
      <%= link_to "Unfavorite", "/unfavorite/#{@course.id}", method: :POST %>
    <% else %>  
      <%= link_to "Favorite", "/favorite/#{@course.id}", method: :POST %>
    <% end %>
<% end %>

</div>


<iframe width="560" height="315" src="<%= @course.url %>" frameborder="0" allowfullscreen></iframe>
